<div class="banner" >
  <% productsBanner.forEach(product=> {%>
    <a href="/products/<%= product.id %>/eventsDetails" class="link-banner">
    <img src="../<%= product.image %>" alt="Imagen" class="banner-item">
    </a>
    <% }) %>
  </div>
    <!-- <div class="gallery-btn">
      <button><i class="fa-solid fa-arrow-left"></i></button>
      <button><i class="fa-solid fa-arrow-right"></i></button>
    </div> -->