<form action="#" method="GET" class="search-home">
    <input type="text" placeholder="Buscar envento en Eventicket..." class="search-bar">
    <input type="submit" value="Buscar" class="search-btn">
  </form>