<!-- HEADER LOG -->

<a class="link-logos" href="/"
      ><img
        class="logo-eventicket"
        src="/Logo/LOGOTIPO EVENTICKET.svg"
        alt="Eventicket"
    /></a>
    <img class="menu-burger" src="/css/svg/menu-burger.svg" alt="" />
    <nav>
      <ul class="nav-bar">
        <a class="nav-inicio nav-enlaces" href="/"
          ><li class="nav-inicio nav-enlaces">Inicio</li></a
        >

        <a class="nav-eventos nav-enlaces" href="/products/events">
          <li class="nav-eventos nav-enlaces">Eventos</li></a
        >

        <a class="nav-crear nav-enlaces" href="/products/createEvents">
          <li class="nav-crear nav-enlaces">Crear Evento</li></a
        >

        <!-- <a class="nav-registro-a" href="/users/register"
          ><li class="nav-registro">Registrarse</li></a
        >

        <a href="/users/login"><li class="nav-login">Iniciar Sesión</li></a> -->
          
        <i class="fas fa-user" style="color: #313d55;"></i>


        <!-- <a href="/products/cart"> -->
        <i class="fa-solid fa-cart-shopping" style="color: #313d55;"></i>
      <!-- </a> -->
      </ul>
    </nav>