<!-- HEADER -->

<a class="link-logos" href="/"
  ><img
    class="logo-eventicket"
    src="/Logo/LOGOTIPO EVENTICKET.svg"
    alt="Eventicket"
/></a>

<!--   <img class="menu-burger" src="/css/svg/menu-burger.svg" alt="" /> --> 
<a class="linkeado-burger" href="#menu">
  <i class="fa-solid fa-bars menu-burger" style="color: #313d55"></i>
</a>
<nav>
  <ul id=menu  class="nav-bar">
    <a class="linkeado-burger" href="javascript: history.go(-1)"><i class="fa-solid fa-xmark cerrar-mobile" style="color: #ffffff;"></i>
    <a class="nav-inicio nav-enlaces nav-btn-sub" href="/"
      ><li class="nav-inicio nav-enlaces">Inicio</li></a
    >

    <a class="nav-eventos nav-enlaces nav-btn-sub" href="/products/events">
      <li class="nav-eventos nav-enlaces">Eventos</li></a
    >
    
    <a class="nav-crear nav-enlaces nav-btn-sub" href="/products/createEvents">
      <li class="nav-crear nav-enlaces">Crear Evento</li></a
    >

    <% if (locals.isLogged) { %>
      <li class="nav-user">Hola! <%= locals.user.first_name %>
      <!-- <li class="nav-inicio nav-enlaces">Hola! <%#= locals.user.nombreRegForm %></li> -->
      <ul class="nav-bar nav-user-ul">
        <section class="nav-desplegable">
          <a class="nav-enlaces" href="/users/editUser"><li>Mi Perfil</li></a>
          <a class="nav-enlaces" href="/"><li>Mis Eventos</a></a>
          <a class="nav-enlaces" href="/"><li>Configuración</li></a>
          <a class="nav-enlaces" href="/users/logout"><li>Salir</li></a>
      </section>
      </ul>
    </li>
      
      <% } else {%>
        
        <a class="nav-registro-a" href="/users/register"
          ><li class="nav-registro">Registrarse</li></a>
    
        <a href="/users/login"><li class="nav-login">Iniciar Sesión</li></a>

        <% } %>
    <a href="/users/editUser"><i class="fas fa-user" style="color: #313d55"></i></a>

    <% let counter = 0; %>
    <% productsHeader.forEach(product => {%>
      <% if(product.bought === 0) {%>
        <% counter++ %>
        <% } %>
    <% }) %>

    <a href="/products/cart">
      <% if(counter !== 0) {%>
          <div class="circle">
            <p class="cart-items"><%= counter %></p>
          </div>
      <% } %>
    <i class="fa-solid fa-cart-shopping" style="color: #313d55"></i>
    </a>
  </ul>
</nav>
