

  <input type="text" name="searchName" placeholder="Buscar evento en Eventicket..." class="search-bar">

  <select name="searchCategory" id="" class="search-bar-buscador">
    <option disabled selected>Categoría</option>
    <% let categorias = [
      {id: 1, name: 'Deportes'},
      {id: 2, name: 'Recitales'},
      {id: 3, name: 'Obras de teatro'},
      {id: 4, name: 'Stand Up'},
      {id: 5, name: 'Conferencias'}
    ] %>
    <% categorias.forEach(categoria => { %>
      <option value="<%= categoria.id %>"> <%= categoria.name %> </option>
    <% }); %>
  </select>

  <select name="searchDate" id="" class="search-bar-buscador">
    <option disabled selected>Fecha</option>
    <% let meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'] %>
    <% meses.forEach(mes => { %>
      <option><%= mes %></option>
    <% }); %>
  </select>

  <input type="submit" value="Buscar" class="search-btn">
  
