<% include('../../utils/dateUtils') %>
<% let meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];  %>
<% let indice = new Date().getMonth() %>

<div class="owl-carousel owl-theme owl-wrapper-outer">

    <% products.forEach(product => { %>
        <% if(formateDate(product.date).split(' ')[2] === meses[indice]) {%>
        <div class="item item-owl-container">
            <a href="/products/<%= product.id %>/eventsDetails">
            <img src="<%= product.image %>" width="100%">
            </a>
        </div>
        <% } %>
    <%}) %>
</div>
