<div class="articulos">
    <div class="carrito-img">
      <img src=<%= productoBuscado.img %>>
    </div>
    <div class="info">
      <h3 class="carrito-titulo"><%= productoBuscado.nombre %></h3>
      <div class="precio">
        <p>$ <%=productoBuscado.precio%></p>
      </div>
      <article class="carrito-btn">
        <button class="flecha-arriba">
          <i class="fa-solid fa-arrow-up"></i>
        </button>
        <button class="flecha-abajo">
          <i class="fa-solid fa-arrow-down"></i>
        </button>
        <button>
          <i class="fa-regular fa-trash-can"></i>
        </button>
      </article>
    </div>
  </div>