<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="shortcut icon" href="/Logo/ISOLOGO EVENTICKET.svg" type="image/x-icon" />
  <title>Inicio | Eventicket</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <a href="/">
      <img class="logo-eventicket" src="/Logo/LOGOTIPO EVENTICKET.svg" alt="Eventicket" />
    </a>
    <img class="menu-burger" src="/css/svg/menu-burger.svg" alt="" />
    <nav>
      <ul class="nav-bar">
        <a class="nav-inicio nav-enlaces" href="/">
          <li class="nav-inicio nav-enlaces">Inicio</li>
        </a>

        <a class="nav-eventos nav-enlaces" href="">
          <li class="nav-eventos nav-enlaces">Eventos</li>
        </a>

        <a class="nav-crear nav-enlaces" href="">
          <li class="nav-crear nav-enlaces">Crear Evento</li>
        </a>

        <a class="nav-registro-a" href="/registro">
          <li class="nav-registro">Registrarse</li>
        </a>

        <a href="/login">
          <li class="nav-login">Iniciar Sesión</li>
        </a>
      </ul>
    </nav>
  </header>
  <main class="main-home">
    <div class="gallery-container">
      <img src="img/amelie-lens-farrago-maderoboardwalk-160560-img.jpeg" alt="" class="gallery-item">
      <div class="gallery-btn">
        <i class="fa-solid fa-arrow-left"></i>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <form action="#" method="GET" class="search-home">
      <input type="text" placeholder="Buscar envento en Eventicket..." class="search-bar">
      <input type="submit" value="Buscar" class="search-btn">
    </form>
    <section class="products">
      <article class="product">
        <div class="product-img">
          <img src="img/amelie-lens-farrago-maderoboardwalk-160560-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <h3>Titulo</h3>
          <div class="product-info-description">
            <p>1 de junio 2023</p>
            <p>Desde $1200</p>
            <p>Jet</p>
          </div>
          <form action="/home.html">
            <input type="submit" value="Entradas">
          </form>
        </div>
      </article>
      <article class="product">
        <div class="product-img">
          <img src="img/babasonicos-en-lanus-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <h3>Titulo</h3>
          <div class="product-info-description">
            <p>1 de junio</p>
            <p>Desde $1200</p>
            <p>Microestadio Lanús</p>
          </div>
          <form action="/home.html">
            <input type="submit" value="Entradas">
          </form>
        </div>
      </article>
      <article class="product">
        <div class="product-img">
          <img src="img/peces-raros-2da-funcion-158913-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <h3>Titulo</h3>
          <div class="product-info-description">
            <p>1 de junio</p>
            <p>Desde $1200</p>
            <p>Crobar</p>
          </div>
          <form action="/" method="GET">
            <input type="submit" value="Entradas">
          </form>
        </div>
      </article>
      <article class="product">
        <div class="product-img">
          <img src="img/la-kermesse-en-ballester-img.jpeg" alt="">
        </div>
        <div class="product-info">
          <h3>Titulo</h3>
          <div class="product-info-description">
            <p>1 de junio</p>
            <p>Desde $1200</p>
            <p>Crobar</p>
          </div>
          <form action="/" method="GET">
            <input type="submit" value="Entradas">
          </form>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <img class="logo-eventicket-blanco" src="/Logo/EVENTICKET-blanco.svg" alt="Eventicket" />
    <p>Todos los derechos reservados</p>
    <div class="redes">
      <i class="fa-brands fa-instagram" style="color: #ffffff"></i>
      <i class="fa-brands fa-twitter" style="color: #ffffff"></i>
      <i class="fa-brands fa-facebook" style="color: #ffffff"></i>
    </div>
  </footer>
</body>

</html>