<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="shortcut icon"
      href="/Logo/ISOLOGO EVENTICKET.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login | Eventicket</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    
    <header>
      <a href="/"
        ><img
          class="logo-eventicket"
          src="/Logo/LOGOTIPO EVENTICKET.svg"
          alt="Eventicket"
      /></a>
      <img class="menu-burger" src="/css/svg/menu-burger.svg" alt="" />
      <nav>
        <ul class="nav-bar">
          <a class="nav-inicio nav-enlaces" href="/"
            ><li class="nav-inicio nav-enlaces">Inicio</li></a
          >

          <a class="nav-eventos nav-enlaces" href="">
            <li class="nav-eventos nav-enlaces">Eventos</li></a
          >

          <a class="nav-crear nav-enlaces" href=""
            ><li class="nav-crear nav-enlaces">Crear Evento</li></a
          >

          <a class="nav-registro-a" href="/registro"
            ><li class="nav-registro">Registrarse</li></a
          >

          <a href="/login"><li class="nav-login">Iniciar Sesión</li></a>
        </ul>
      </nav>
    </header>
    <main class="login-main">
      <section class="login-cuadro">
      <h1 class="login-h1">Login</h1>
      <form action="" method="">
      <h2 class="login-h2">Cuenta de usuario</h2>
      <input class="login-input-texto" type="text" name="nombreUsuario" placeholder="Digite su cuenta de usuario"/>

      <h2 class="login-h2">Contraseña</h2>
      <input class="login-input-texto" type="text" name="contraseña" placeholder="Digite su contraseña"/> <br />

      <input class="login-checkbox" type="checkbox" name="recuerdame" />
      <p class="login-p">Recuerdame</p>

      <input class="login-checkbox" type="checkbox" name="terminos" />
      <p class="login-p">Acepto los terminos y condiciones felizmente</p>

      <p>olvidaste la contraseña? <a href="" target="_blank">Click aqui </a></p>
    </form>
    </section>
    </main>
    <footer>
      <img
        class="logo-eventicket-blanco"
        src="/Logo/EVENTICKET-blanco.svg"
        alt="Eventicket"
      />
      <p>Todos los derechos reservados</p>
      <div class="redes">
        <i class="fa-brands fa-instagram" style="color: #ffffff"></i>
        <i class="fa-brands fa-twitter" style="color: #ffffff"></i>
        <i class="fa-brands fa-facebook" style="color: #ffffff"></i>
      </div>
    </footer>
  </body>
</html>
