<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="shortcut icon"
      href="/Logo/ISOLOGO EVENTICKET.svg"
      type="image/x-icon"
    />
    <title>Productos | Eventicket</title>
  </head>
  <body>
    <header>
      <img
        class="logo-eventicket"
        src="/Logo/LOGOTIPO EVENTICKET.svg"
        alt="Eventicket"
      />
      <img class="menu-burger" src="/css/svg/menu-burger.svg" alt="" />
      <nav>
        <ul class="nav-bar">
          <li class="nav-inicio">Inicio</li>
          <li class="nav-eventos">Eventos</li>
          <li class="nav-crear">Crear Evento</li>
          <li class="nav-registro">Registrarse</li>
          <li class="nav-login">Iniciar Sesión</li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
