<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="shortcut icon"
      href="/Logo/ISOLOGO EVENTICKET.svg"
      type="image/x-icon"
    />
    <title>Registro | Eventicket</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <a href="/"
        ><img
          class="logo-eventicket"
          src="/Logo/LOGOTIPO EVENTICKET.svg"
          alt="Eventicket"
      /></a>
      <img class="menu-burger" src="/css/svg/menu-burger.svg" alt="" />
      <nav>
        <ul class="nav-bar">
          <a class="nav-inicio nav-enlaces" href="/"
            ><li class="nav-inicio nav-enlaces">Inicio</li></a
          >

          <a class="nav-eventos nav-enlaces" href="">
            <li class="nav-eventos nav-enlaces">Eventos</li></a
          >

          <a class="nav-crear nav-enlaces" href=""
            ><li class="nav-crear nav-enlaces">Crear Evento</li></a
          >

          <a class="nav-registro-a" href="/registro"
            ><li class="nav-registro">Registrarse</li></a
          >

          <a href="/login"><li class="nav-login">Iniciar Sesión</li></a>
        </ul>
      </nav>
    </header>
    <main class="main-registro">
      <section class="registro-form">
        <h2>Regístrate y asiste a tus eventos favoritos</h2>
        <form action="" method="post">
          <article class="registro-datos">
            <input
              id="registro-nombre"
              type="text"
              placeholder="Nombre"
              name="nombreRegForm"
              required
            />
            <input
              id="registro-apellido"
              type="text"
              placeholder="Apellido"
              name="apellidoRegForm"
              required
            />
          </article>
          <article id="registro-email">
            <input
              type="email"
              placeholder="Correo electrónico"
              name="emailRegForm"
              required
            />
          </article>
          <article class="registro-password">
            <input
              type="password"
              placeholder="Contraseña"
              name="passRegForm"
              required
            />
            <input
              type="password"
              placeholder="Confirmar contraseña"
              name="checkPassRegForm"
              required
            />
          </article>
          <article class="registro-tyc">
            <input type="checkbox" />Acepto los Términos y Condiciones
          </article>
          <article class="registro-botones">
            <input
              type="submit"
              name="registrate"
              id="registrate"
              value="Regístrate"
            />
            <input
              type="submit"
              name="registrateGoogle"
              id="registrate-google"
              value="Regístrate con tu cuenta de Google"
            />
          </article>
        </form>
      </section>
    </main>
    <footer>
      <img
        class="logo-eventicket-blanco"
        src="/Logo/EVENTICKET-blanco.svg"
        alt="Eventicket"
      />
      <p>Todos los derechos reservados</p>
      <div class="redes">
        <i class="fa-brands fa-instagram" style="color: #ffffff"></i>
        <i class="fa-brands fa-twitter" style="color: #ffffff"></i>
        <i class="fa-brands fa-facebook" style="color: #ffffff"></i>
      </div>
    </footer>
  </body>
</html>
