<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="shortcut icon"
      href="/Logo/ISOLOGO EVENTICKET.svg"
      type="image/x-icon"
    />
    <title>Registro | Eventicket</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
      <img
        class="logo-eventicket"
        src="/Logo/LOGOTIPO EVENTICKET.svg"
        alt="Eventicket"
      />
      <img class="menu-burger" src="/css/svg/menu-burger.svg" alt="" />
      <nav>
        <ul class="nav-bar">
          <li class="nav-inicio nav-enlaces">Inicio</li>
          <li class="nav-eventos nav-enlaces">Eventos</li>
          <li class="nav-crear nav-enlaces">Crear Evento</li>
          <li class="nav-registro">Registrarse</li>
          <li class="nav-login">Iniciar Sesión</li>
        </ul>
      </nav>
    </header>
    <main class="main-registro">
      <section class="registro-form">
        <h2>Regístrate y asiste a tus eventos favoritos</h2>
        <article class="registro-datos">
          <input id="registro-nombre" type="text" placeholder="Nombre" />
          <input id="registro-apellido" type="text" placeholder="Apellido" />
        </article>
        <article id="registro-email">
          <input type="email" placeholder="Correo electrónico" />
        </article>
        <article class="registro-password">
          <input type="password" placeholder="Contraseña" />
          <input type="password" placeholder="Confirmar contraseña" />
        </article>
        <article class="registro-botones">
          <input
            type="submit"
            name="Registrate"
            id="registrate"
            value="Regístrate"
          />
          <input
            type="submit"
            name="Registrate"
            id="registrate-google"
            value="Regístrate con tu cuenta de Google"
          />
        </article>
      </section>
    </main>
    <footer>
      <img class="logo-eventicket-blanco" src="/Logo/EVENTICKET-blanco.svg" alt="Eventicket" />
    <p>Todos los derechos reservados</p>
    <div class="redes">
      <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
      <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
      <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
    </div>
    </footer>
  </body>
</html>
