/* Archivo de estilos */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    font-family: "Montserrat", "sans-serif";
    box-sizing: border-box;
}

/* Cajas título y ubicación */
.caja-titulo-ubicacion {
    border: 3px solid yellowgreen;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;

}

.caja-titulo-ubicacion h2 {
    font-size: 28px;
    color: #313D55;
}

.caja-titulo-ubicacion h3 {
    font-size: 20px;
    color: #313D55;
}

.descripcion-ubicacion {
    font-size: 18px;
    color: #313D55;
}

.caja-titulo {
    border: 3px solid red;
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
}

.caja-ubicacion {
    border: 3px solid blue;
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
}

.fa-location-dot,
.fa-calendar-days {
    font-size: 30px;
    color: #FFB700;
}

/* Cajas tickets e imagen */
.tickets-imagen {
    border: 3px solid black;
    display: flex;
    /* height: 50vh; */
    width: 100%;
    justify-content: space-around;
}

.titulos-tabla h4 {
    font-size: 18px;
    color: #313D55;
    display: inline-block
}

.caja-tickets {
    border: 3px solid green;
    width: 65%;
    display: inline-block;


}

/* .caja-imagen-evento {
    border: 3px solid purple;
    display: inline-block;
    width: 30vw;
    align-items: center;
    justify-content: center;
} */

.imagen-evento {
    width: 29vw;
    border: 3px solid purple;
    border-radius: 15px;
    display: inline-block;
    margin-right: 1.2vw;
}


.tickets {
    border: 3px solid orange;
    display: inline-block;
    width: 100%;
}

.boton-comprar {
    background-color: #FFB700;
    color: #313D55;
    padding: 7px;
    border-radius: 8px;
    border-color: #FFB700;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 13px;
    right: 30px;
}

.comprar {
    border: 3px solid yellow;
    width: 100%;
    height: 7vh;
    display: inline-block;
    align-items: center;

    position: relative;

}

.titulos-tabla {
    border: 3px solid grey;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.linea-ticket {
    border: 3px solid red;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.caja-cantidad {
    border: 1px dashed blue;
    display: flex;
    justify-content: center;
    width: 11vw;
    align-items: center;
    margin: 12px;
    padding: 10px;
}

.fa-chevron-down {
    font-size: 18px;
    font-weight: bold;
}

.linea-ticket p {
    font-size: 16px;
    color: #313D55;
    margin: 10px;
    align-items: center;
}

.ticket-titulo-tabla {
    width: 10vw;
    display: flex;
    justify-content: center;
}

.ticket-titulo-tabla h4 {
    color: #313D55;
    display: flex;
    justify-content: center;
}

.precio-ticket-p {
    width: 7vw;
    justify-content: center;
}