/* Archivo de estilos */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif";
  margin: 0;
  padding: 0%;
}

header {
  padding: 5vh;
  display: flex;
  justify-content: space-between;
}

.menu-burger {
  width: 40px;
  color: #313d55;
  display: inline-block;
}

.logo-eventicket {
  width: 100px;
  display: inline-block;
}

header nav button {
  display: none;
}

.main-registro {
  display: flex;
  justify-content: center;
}

.registro-form {
  display: inline-block;
  margin-top: 5vh;
  text-align: center;
  width: 90vw;
  border: solid 1px #313d55;
}

.registro-form input {
  background-color: #f4f4f4;
  border: solid 1px #c0c0c0;
  width: 100%;
  margin-top: 2%;
  padding: 2%;
}

#registro-nombre,
#registro-apellido {
  width: 48%;
  margin-left: 0;
}

#registrate {
  border: solid 1px #313d55;
  background-color: #313d55;
  color: #fff;
  font-size: 18px;
}

#registrate-google {
  background-color: #c0c0c0;
  color: #313d55;
  font-size: 18px;
}

/* PRIMER BREAKPOINT */
@media (min-width: 480px) {
  .registro-form {
    margin-top: 10vh;
  }

  .menu-burger {
    width: 50px;
  }

  .logo-eventicket {
    width: 120px;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
  }

  header nav {
    display: inline-block;
    margin-right: 0%;
    text-align: right;
  }
  .menu-burger {
    display: none;
  }
  header nav button {
    display: inline-block;
    text-align: center;
    border: none;
    color: #313d55;
    font-weight: 600;
    font-size: 18px;
    background: none;
    padding: 20px;
  }

  header .logo-eventicket {
    width: 150px;
    margin-bottom: 0px;
  }
  .nav-login {
    border: solid 1px #313d55;
    border-radius: 10px;
  }

  .nav-login:hover {
    background-color: #c0c0c0;
    transition: 1s;
  }

  .nav-registro {
    background-color: #313d55;
    color: #fff;
    border-radius: 10px;
    border: solid 1px #313d55;
  }
  .nav-registro:hover {
    background-color: #c0c0c0;
    color: #313d55;
    transition: 1s;
  }

  .registro-form {
    width: 60vw;
    text-align: center;
    margin: auto;
    padding: 25px;
  }
}
