/* Archivo de estilos */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif";
  margin: 0;
  padding: 0%;
  background-color: #ebebeb;
}

header {
  padding: 5vh 5vh 5vh 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #ffff;
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: #313d55;
  top: 90px;
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
  color: #fff;
  border: none;
}

.nav-bar li {
  display: block;
  text-align: left;
  border: none;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  background: none;
  padding: 25px;
  text-decoration: none;
  list-style: none;
}

.nav-bar li a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.menu-burger {
  transition: 1s;
  -webkit-transition: 1s;
  width: 40px;
  color: #313d55;
  position: absolute;
  right: 6vh;
}

.logo-eventicket {
  transition: 1s;
  -webkit-transition: 1s;
  width: 100px;
}

.main-registro {
  display: flex;
  justify-content: center;
}

.registro-form {
  display: inline-block;
  text-align: center;
  width: 90vw;
  border: solid 1px #313d55;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #000;
}

.registro-form h2 {
  font-size: 16px;
  font-weight: 900;
}

.registro-form input {
  background-color: #fff;
  border: solid 1px #c0c0c0;
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  width: 96%;
  margin-top: 2%;
  padding: 2%;
  border-radius: 15px;
}

.registro-form input:focus {
  background-color: #f4f4f4;
  transition: 1s;
  outline: 0px;
}

.registro-form input:active {
  outline: 0px;
}

#registro-nombre,
#registro-apellido {
  width: 47.5%;
  margin-left: 0;
}

#registrate {
  border: solid 1px #313d55;
  background-color: #313d55;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  cursor: pointer;
}

#registrate-google {
  background-color: #f4f4f4;
  color: #313d55;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  cursor: pointer;
}

#registrate:hover,
#registrate-google:hover {
  background-color: #f4f4f4;
  color: #313d55;
  -webkit-transition: 1s;
  transition: 0.5s;
}

footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #313d55;
  /*   border: 1px solid black; */
  margin-top: 6vh;
  width: 100%;
  bottom: 0px;
  height: 100px;
}

footer p {
  display: none;
}

.logo-eventicket-blanco {
  width: 90px;
}

.fa-instagram,
.fa-twitter,
.fa-facebook {
  width: 20px;
}

/* ESTILOS HOME.HTML */

.products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.gallery-container {
  height: calc(20vw);
  position: relative;
  overflow: hidden;
}

.gallery-item {
  width: 100%;
  position: absolute;
  top: 0;
}

.gallery-btn {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  top: 50%;
  left: 5%;
}

.gallery-btn button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #ffff;
  font-size: 2rem;
}

.search-home {
  width: 90%;
  margin: 5% auto;
  display: flex;
  box-shadow: 1px 1px 10px #615f5f;
  border-radius: 5px;
  color: #ebebeb;
  overflow: hidden;
}

.search-home .search-bar, .search-home .search-btn {
  padding: 3%;
  border: none;
  outline: none;
}

.search-bar {
  width: 70%;
  background-color: #ffff;
}

.search-btn {
  width: 30%;
  background-color: #313D55;
  color: #ffff;
}

.product {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  border: 1px solid #ebebeb;
  background-color: #ffff;
  border-radius: 5px;
  overflow: hidden;
  transition: all 1s ease;
  margin: 10px;
}

.product:hover {
  box-shadow: 1px 1px 10px gray;
  border: 1px solid gray;
  cursor: pointer;
}

.product:hover .price-buy,
.product:hover .price-buy button {
  color: #ffff;
  background-color: #313d55;
  transition: all 1s ease;
}

.product-img {
  height: calc(37vw);
  width: 50%;
  margin: auto;
  border-radius: 20px;
}

.product-img img {
  width: 100%;
  height: 100%;
  border-right: 1px solid #ebebeb;
}

.product-info {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info .information-product h2 {
  padding: 0 0 2% 2%;
  font-weight: 600;
  margin: 0px;
  font-size: 5.5vw;
}

.product-info .information-product .date {
  padding: 2% 0 0 5%;
  margin: 0px;
  font-size: 3vw;
}

.product-info .information-product .place {
  padding: 2% 0 5% 5%;
  margin: 0px;
  font-size: 3vw;
}

.product-info h3 {
  height: 25%;
  margin: 0;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: 2% 0 0 4%;
}

.product h3 {
  border-bottom: 1px solid #ebebeb;
}

.product-info .product-info-description {
  font-size: 0.8rem;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-info .product-info-description p {
  margin: 0px;
  padding-left: 4%;
}

.price-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #ebebeb;
  margin: auto;
  padding: 2%;
  border-radius: 5px;
}

.price p {
  text-align: center;
  font-weight: 510;
  font-size: 3vw;
  margin: 0px;
}

.buy button {
  border: none;
  background-color: #ffff;
  width: 100%;
}

.tickets-agotados {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5% 10%;
  background-color: rgba(255, 74, 74, 0.8);
  letter-spacing: 1px;
  color: #ffff;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
  margin: 0px;
}

/* ESTILOS CARRITO.HTML */

html {
  font-size: 50%;
}

.container-carrito {
  width: 100vw;
  margin: 0 px;
  position: relative;
}

.container-carrito nav {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #f4f4f4;
  margin-bottom: 25px;
  color: #313d55;
}

.box,
.articulos {
  border-bottom: 1px solid #615f5f;
  width: 50%;
  border-radius: 10px;
  position: relative;
  display: block;
}

.grid {
  position: relative;
  display: contents;
  margin: 25px;
}

.articulos img {
  position: absolute;
  left: 3.5%;
  top: 49%;
  transform: translate(-3.5%, -45%);
  width: 70;
  height: 70px;
}

h1 {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #222;
  justify-content: left;
  padding-left: 50px;
}

.info {
  padding: 15px;
}

.info h3 {
  font-size: 1.6rem;
  position: relative;
  left: 95px;
  top: 44px;
}

.info p {
  font-size: 1.8rem;
}

.info h3,
.info p {
  color: #222;
  margin-bottom: 15px;
}

.precio {
  position: absolute;
  left: 480px;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  position: relative;
  right: 50px;
}

.precio p {
  font-size: 1.5rem;
}

.info button {
  position: relative;
  left: 750px;
  bottom: 30px;
  padding: 1rem;
  width: 10%;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: #615f5f;
}

.info button:hover {
  background-color: #313D55;
  transition: all .3s;
  transform: translateX(2px);
}

.metodo-de-pagos {
  display: inline-block;
  position: absolute;
  right: 200px;
  top: 150px;
}

.metodo-de-pagos img {
  width: 140px;
  height: 70px;
  background-color: white;
  border-radius: 17px;
  margin-right: 10px;
  border-bottom: 1px solid grey;
}

.metodo-de-pagos img:hover {
  transition: all .2s;
  opacity: 50%;
}

.carrito {
  position: relative;
  padding-top: 25px;
  font-size: 300%;
}

.carrito:hover {
  transition: all .3s;
  opacity: 60%;
}

.botones-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 25vw;
  margin: auto;
}

.botones-container button {
  font-family: "Montserrat", "sans-serif";
  padding: 18px;
}

.finalizar-compra {
  background-color: #313d55;
  color: #fff;
  border-radius: 12px;
  border: solid 1px #313d55;
  cursor: pointer;
}

.eliminar-productos {
  background: none;
  border: solid 1px #313d55;
  background-color: #ebebeb;
  color: #313d55;
  border-radius: 12px;
  cursor: pointer;
}

.finalizar-compra:hover {
  background-color: #f4f4f4;
  transition: all .3s;
  transform: translateX(2px);
  color: #313d55;
}

.eliminar-productos:hover {
  background-color: #313D55;
  transition: all .3s;
  transform: translateX(2px);
  color: #f4f4f4;
}


/* ------------------ ESTILOS LOGIN  ------------------ */
.login-main {
  display: flex;
  justify-content: center;
}

.login-cuadro {
  border: solid 1px #313d55;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #000;
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.login-h1 {
  display: flex;
  justify-content: center;

  padding: 15px;
  font-weight: 900;
}

.login-h2 {
  font-size: 1em;
}

.login-input-texto {
  margin: auto;
  border-radius: 15px;
  border: 1px solid #313d55;
  padding: 10px;
}

.login-input-texto:hover {
  background-color: #f4f4f4;
  color: #313d55;
  -webkit-transition: 1s;
  transition: 0.5s;
}

.login-input-texto:focus {
  background-color: #f4f4f4;
  transition: 1s;
  outline: 0px;
}

.login-input-texto:active {
  outline: 0px;
}

.login-p,
.login-checkbox {
  display: inline-block;
  width: 35%;
  margin-top: 15px;
  font-size: 14px;
  margin: 15px 10px;
}

/* ------------------ PRIMER BREAKPOINT 480px ------------------ */
@media (min-width: 480px) {

  .registro-form {
    margin-top: 6vh;
  }

  .registro-form h2 {
    font-size: 20px;
  }

  .menu-burger {
    transition: 1s;
    -webkit-transition: 1s;
    width: 50px;
    position: absolute;
    right: 10vh;
  }

  .logo-eventicket {
    transition: 1s;
    -webkit-transition: 1s;
    width: 120px;
  }

  footer p {
    display: inline-block;
    color: #ffff;
    font-size: 16px;
  }

  /*------ESTILOS HOME------*/

  .tickets-agotados{
    top: 0px;
    left: 0px;
    transform: none;
    border-radius: 0px;
  }
  .search-home{
    margin-bottom: 2%;
  }

  .search-home {
    max-width: 600px;
  }

  .search-bar {
    font-size: 2.5vw;
  }

  .products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product {
    width: 300px;
    height: 420px;
    flex-direction: column;
    margin: 2% 2% 1% 2%;
  }

  .product-img {
    height: 60%;
    width: 90%;
    box-shadow: 1px 1px 5px black;
    overflow: hidden;
  }

  .product-img img {
    object-position: top;
    border: none;
  }

  .product-info {
    height: 35%;
    width: 100%;
  }

  .information-product {
    height: 69%;
  }

  .product-info .information-product h2 {
    padding: 0 0 0 5%;
    font-size: 25px;
  }

  .product-info .information-product .date,
  .product-info .information-product .place {
    padding: 2% 0 2% 10%;
    font-size: 15px;
  }

  .price-buy {
    display: flex;
    justify-content: space-around;
    border: none;
    border-top: 1px solid #ebebeb;
    height: 31%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0px;
  }

  .price {
    width: 100%;
    height: 100%;
    transition: all 450ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price p {
    font-size: 2.2rem;
    display: inline-block;
  }

  .buy {
    width: 30%;
    height: 100%;
  }

  .buy form {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .buy form button {
    height: 100%;
    padding: 0px;
    font-size: 3rem;
    border-left: 1px solid #ebebeb;
    transition: all 450ms ease;
  }

  .product:hover .buy button {
    background-color: #313d55;
    color: #ebebeb;
    cursor: pointer;
    border: #313d55;
    /* transition: 0.5s ease; */
  }

  .product:hover:not(.price-buy) .price-buy {
    border-radius: none;
    color: #000;
    background-color: transparent;
  }

  .product-info form input {
    border-radius: 0 0 12px 12px;
    padding: 4%;
  }

  .botones-container {
    display: flex;
    align-items: center;
    width: 96vw;
    margin: auto;

  }

  .botones-container button {
    font-family: "Montserrat", "sans-serif";
    margin: 15px;
    padding: 17px;
    width: 96vw;
  }

  .carrito {
    position: relative;
    padding-top: 10px;
    font-size: 250%;
  }

  .metodo-de-pagos img {
    width: 55px;
    height: 35px;
    position: relative;
    left: 200px;
    bottom: 20px;
  }

  .precio {
    position: relative;
    left: 115px;
    top: 18px;
  }

  .precio p {
    font-size: 0.8rem;
  }

  .info {
    padding: 15px;
  }

  .info h3 {
    font-size: 0.7rem;
    position: relative;
    left: 33px;
    top: 50px;
  }

  .articulos img {
    position: absolute;
    left: 3.5%;
    top: 60%;
    transform: translate(-3.5%, -45%);
    width: 40px;
    height: 40px;
  }

  h1 {
    position: relative;
    text-align: left;
    margin-bottom: 3px;
    font-size: 1.5rem;
    color: #222;
    justify-content: left;
    padding-left: 20px;
  }

  .info button {
    position: relative;
    left: 150px;
    bottom: 10px;
    padding: 0.8rem;
    width: 18%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    cursor: pointer;
  }
}

/* ------------------ SEGUNDO BREAKPOINT 720px ------------------ */
@media (min-width: 768px) {
  .registro-form {
    margin-top: 10vh;
  }

  .registro-form h2 {
    font-size: 24px;
  }

  .menu-burger {
    width: 60px;
  }

  .logo-eventicket {
    transition: 1s;
    -webkit-transition: 1s;
    width: 150px;
  }

  #registro-nombre,
  #registro-apellido {
    width: 47.8%;
    margin-left: 0;
  }

  /*------ESTILOS HOME------*/
  .search-home {
    margin: 2% auto;
    width: 70%;
  }
  .search-home .search-bar{
    font-size: 1.8vw;
    padding: 2%;
  }
  .search-home .search-btn{
    padding: 0px;
    font-size: 2vw;
  }

  .products {
    margin: auto;
    font-size: 16px;
  }

  .product {
    /* aspect-ratio: 4/5; */
    margin: 5px;
    flex-basis: calc(25% - 15px);
    height: calc(35vw);
  }

  .product-info .information-product h2 {
    font-size: 2vw;
  }

  .product-info .information-product .date,
  .product-info .information-product .place {
    font-size: 1.5vw;
  }

  .price p {
    font-size: 1.8vw;
  }

  .buy form button{
    font-size: 2vw;
  }

  .header-search {
    position: relative;
    width: 100%;
  }

  .header-search input {
    width: 100%;
  }

  .header-search a {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    padding: 5px;
    border: none;
    right: 2.5%;
  }

  .botones-container {
    display: flex;
    align-items: center;
    width: 96vw;
    margin: auto;

  }

  .botones-container button {
    font-family: "Montserrat", "sans-serif";
    margin: 15px;
    padding: 17px;
    width: 96vw;
  }

  .carrito {
    position: relative;
    padding-top: 10px;
    font-size: 250%;
  }

  .metodo-de-pagos img {
    width: 75px;
    height: 40px;
    position: relative;
    left: 160px;
    bottom: 35px;
  }

  .precio {
    position: relative;
    left: 175px;
    top: 18px;
  }

  .precio p {
    font-size: 1rem;
  }

  .info {
    padding: 15px;
  }

  .info h3 {
    font-size: 0.9rem;
    position: relative;
    left: 37px;
    top: 50px;
  }

  .articulos img {
    position: absolute;
    left: 3.5%;
    top: 60%;
    transform: translate(-3.5%, -45%);
    width: 45px;
    height: 45px;
  }

  h1 {
    position: relative;
    text-align: left;
    margin-bottom: 3px;
    font-size: 2rem;
    color: #222;
    justify-content: left;
    padding-left: 20px;
  }

  .info button {
    position: relative;
    left: 220px;
    bottom: 10px;
    padding: 0.8rem;
    width: 18%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
  }
}


/* ------------------ DESKTOP 1024 ------------------ */

@media (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  main {
    padding-bottom: 6vh;
  }

  .menu-burger {
    display: none;
  }

  .nav-bar {
    position: absolute;
    left: -6vw;
    height: 100px;
    background: none;
    display: inline-block;
    text-align: right;
    top: 5vh;
    margin-right: 6vw;
  }

  .nav-bar li {
    display: inline-block;
    text-align: center;
    border: none;
    font-weight: 300;
    font-size: 18px;
    background: none;
    padding: 20px;
    text-decoration: none;
    list-style: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .nav-bar .nav-enlaces {
    color: #313d55;
  }

  .nav-bar .nav-login {
    color: #313d55;
  }

  .nav-enlaces:hover {
    font-weight: bolder;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .logo-eventicket {
    width: 150px;
    margin-bottom: 0px;
  }

  .main-registro {
    margin-top: 10vh;
  }

  .nav-bar .nav-login {
    border: solid 1px #313d55;
  }

  .nav-bar .nav-login:hover {
    background-color: #f4f4f4;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .nav-bar .nav-registro {
    background-color: #313d55;
    color: #fff;
    border: solid 1px #313d55;
  }

  .nav-bar .nav-registro:hover {
    background-color: #f4f4f4;
    border: solid 1px #313d55;
    color: #313d55;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .registro-form {
    width: 60vw;
    text-align: center;
    margin: auto;
    padding: 25px;
  }

  .registro-form h2 {
    font-size: 24px;
  }
/* ------ESTILOS HOME------ */
.main-home .search-home {
  /* margin: 2% auto; */
  /* width: 100%; */
}

  .search-home .search-bar, .search-home .search-btn {
    font-size: 1vw;
    padding: 2.5%;
  }

  .products {
    max-width: none;
    width: 90%;
    flex-wrap: wrap;
  }

  .product {
    height: 60vh;
    width: 20vw;
  }

  .articulos img {
    position: absolute;
    left: 3.5%;
    top: 60%;
    transform: translate(-3.5%, -45%);
    width: 60px;
    height: 60px;
  }

  h1 {
    position: relative;
    text-align: left;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #222;
    justify-content: left;
    padding-left: 50px;
  }

  .info {
    padding: 15px;
  }

  .info h3 {
    font-size: 1.6rem;
    position: relative;
    left: 60px;
    top: 59px;
  }

  .info p {
    font-size: 1.6rem;
  }

  .precio {
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    position: relative;
    left: 330px;
  }

  .precio p {
    font-size: 1.6rem;
  }

  .info button {
    position: relative;
    left: 399px;
    bottom: 17px;
    padding: 1rem;
    width: 10%;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 5px;

  }

  .metodo-de-pagos {
    display: inline-block;
    position: absolute;
    right: 200px;
    top: 200px;
  }

  .metodo-de-pagos img {
    width: 120px;
    height: 50px;
    background-color: white;
    border-radius: 17px;
    margin-right: 10px;
    border-bottom: 1px solid grey;
  }

  .carrito {
    position: relative;
    padding-top: 25px;
    font-size: 300%;
    right: -23px;
  }

  .botones-container {
    align-items: center;
    padding: 40px;
    width: 45vw;
    margin: auto;
  }

  .botones-container button {
    font-family: "Montserrat", "sans-serif";
    padding: 17px;
  }

}

footer {
  padding-left: 6vw;
  padding-right: 6vw;
  bottom: 0px;
}