<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="main-registro login-register">
        <section class="registro-form">
            <h2>¿Quieres comenzar a crear eventos?</h2>
            <h4>Conviértete en usuario productor y crea tu primer evento ahora mismo</h4>
            
            <a href="/users/editUser"><button class="beProducer-btn" >Editar usuario</button></a>

                </article>
            </form>
        </section>

       
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src="/js/localStorage.js"></script>
</body>

</html>