<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>

  <header>
    <%- include('../partials/header') %>
  </header>
  <main class="login-main login-register">
    <section class="login-cuadro">
      <h1 class="login-h1">Login</h1>
      <form action="/users/login" method="POST">
        <p style="margin:0; color: red; font-size: 20px;"><%= error %></p>
        <input class="login-input-texto" type="text" name="emailLogin" placeholder="Mail" required />

        <input class="login-input-texto" type="password" name="passwordLogin" placeholder="Contraseña" required /> <br />
        <article class="registro-tyc">
          <input type="checkbox" checked name="sesionIniciada">
          <label for="">Mantener sesion iniciada</label>
        </article>
        <article class="registro-tyc">
          
          <input type="checkbox" />Recuérdame
        </article>
        <article class="registro-botones">

          <input type="submit" id="login-button"/>
        </article>
        <p class="login-contraseña-olvidada">¿Olvidaste la contraseña? <a class="login-click-aqui"
            href="/users/registro" target="_blank">Click aqui </a></p>
      </form>
    </section>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>