<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

  <body>
    
    <header>
      <%- include('../partials/header') %>
    </header>
    <main class="login-main login-register">
      <section class="login-cuadro">
      <h1 class="login-h1">Login</h1>

      <form action="/users/login" method="POST">

        <h1><%= error %></h1>
      <input class="login-input-texto" 
      type="email" 
      name="emailLogin" 
      placeholder="Email"
      required/>

      <input class="login-input-texto" 
      type="password" 
      name="passwordLogin" 
      placeholder="Contraseña"
      required/> <br />

      <article class="registro-tyc">
        <input type="checkbox" value="rememberme" />Recuérdame
      </article>
      <article class="registro-botones">

        <input
          type="submit"
          name="registrate"
          id="login-button"
          value="Login"
        />
      </article>
      <p class="login-contraseña-olvidada">¿Olvidaste la contraseña? <a class="login-click-aqui" href="/users/registro" target="_blank">Click aqui </a></p>
    </form>
    </section>
    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
