<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>

  <header>
    <%- include('../partials/header') %>
  </header>
  <main class="login-main login-register">
    <section class="login-cuadro">
      <h1 class="login-h1">Login</h1>
      <form action="/users/login" method="POST">
        <p style="margin:0; color: red; font-size: 20px;"><%= error %></p>
        <div>
        <input class="login-input-texto" type="text" name="emailLogin" placeholder="Mail" id="mailLogin" required />
        <p class="error" style="margin: 0 20px"></p>
        </div>
        <div>
        <input class="login-input-texto" type="password" name="passwordLogin" placeholder="Contraseña" id="passwordLogin" required /> <br />
        <p class="error" style="margin: 0"></p>
        </div>
        <article class="registro-tyc">
          <input type="checkbox" checked name="sesionIniciada">
          <label for="">Mantener sesion iniciada</label>
        </article>
        <article class="registro-tyc">
          
          <input type="checkbox" checked name="rememberme"/>Recuérdame
        </article>
        <article class="registro-botones">

          <input type="submit" id="login-button"/>
        </article>
        <p class="login-contraseña-olvidada">Si todavía no tienes una cuenta, <a class="login-click-aqui"
            href="/users/register"><b>clickea aquí para registrarte</b></a></p>
      </form>
    </section>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>

  <script src="/js/validateLogin.js"></script>
</body>

</html>