<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <form action="#" method="GET" class="search-home">
            <input type="text" placeholder="Buscar envento en Eventicket..." class="search-bar">
            <input type="submit" value="Buscar" class="search-btn">
        </form>
        <section class="products">
           
            <%- include('../partials/eventosParcial') %>        

        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>