<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/Logo/ISOLOGO EVENTICKET.svg" type="image/x-icon" />
    <title>Inicio | Eventicket</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <a href="/"><img class="logo-eventicket" src="/Logo/LOGOTIPO EVENTICKET.svg" alt="Eventicket" /></a>
        <img class="menu-burger" src="/css/svg/menu-burger.svg" alt="" />
        <nav>
            <ul class="nav-bar">
                <a class="nav-inicio nav-enlaces" href="/">
                    <li class="nav-inicio nav-enlaces">Inicio</li>
                </a>

                <a class="nav-eventos nav-enlaces" href="#">
                    <li class="nav-eventos nav-enlaces">Eventos</li>
                </a>

                <a class="nav-crear nav-enlaces" href="">
                    <li class="nav-crear nav-enlaces">Crear Evento</li>
                </a>

                <a class="nav-registro-a" href="../users/registro">
                    <li class="nav-registro">Registrarse</li>
                </a>

                <a href="../users/login">
                    <li class="nav-login">Iniciar Sesión</li>
                </a>
            </ul>
        </nav>
    </header>
    <main>
        <form action="#" method="GET" class="search-home">
            <input type="text" placeholder="Buscar envento en Eventicket..." class="search-bar">
            <input type="submit" value="Buscar" class="search-btn">
        </form>
        <section class="products">
            <article class="product">
                <a href="detalleEventos" class="product-link-detail">
                    <div class="product-img">
                        <img src="../img/amelie-lens-farrago-maderoboardwalk-160560-img.jpeg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="information-product">
                            <h2>Amelie Lens</h2>
                            <p class="date">1 de junio - 22 horas</p>
                            <p class="place">Boliche Jet Costanera</p>
                        </div>
                        <div class="price-buy">
                            <div class="price">
                                <p>Desde $3000</p>
                            </div>
                            <div class="buy">
                                <form action="/">
                                    <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <p class="tickets-agotados">Agotado</p>
                </a>
            </article>
            <article class="product">
                <a href="/productos" class="product-link-detail">
                    <div class="product-img">
                        <img src="../img/babasonicos-en-lanus-img.jpeg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="information-product">
                            <h2>Babasonicos</h2>
                            <p class="date">26 de mayo - 21 horas</p>
                            <p class="place">Microestadio Lanus</p>
                        </div>
                        <div class="price-buy">
                            <div class="price">
                                <p>Desde $3500</p>
                            </div>
                            <div class="buy">
                                <form action="/home.html">
                                    <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
            <article class="product">
                <a href="/productos" class="product-link-detail">
                    <div class="product-img">
                        <img src="../img/peces-raros-2da-funcion-158913-img.jpeg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="information-product">
                            <h2>Peces Raros</h2>
                            <p class="date">6 de mayo - 20 horas</p>
                            <p class="place">Complejo Art Media</p>
                        </div>
                        <div class="price-buy">
                            <div class="price">
                                <p>Desde $2000</p>
                            </div>
                            <div class="buy">
                                <form action="/home.html">
                                    <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
            <article class="product">
                <a href="/productos" class="product-link-detail">
                    <div class="product-img">
                        <img src="../img/la-kermesse-en-ballester-img.jpeg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="information-product">
                            <h2>La Kermesse</h2>
                            <p class="date">15 de abril - 22 horas</p>
                            <p class="place">Club Aleman Ballester</p>
                        </div>
                        <div class="price-buy">
                            <div class="price">
                                <p>Desde $1500</p>
                            </div>
                            <div class="buy">
                                <form action="/home.html">
                                    <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
            <article class="product">
                <a href="/productos" class="product-link-detail">
                    <div class="product-img">
                        <img src="../img/amelie-lens-farrago-maderoboardwalk-160560-img.jpeg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="information-product">
                            <h2>Amelie Lens</h2>
                            <p class="date">1 de junio - 22 horas</p>
                            <p class="place">Boliche Jet Costanera</p>
                        </div>
                        <div class="price-buy">
                            <div class="price">
                                <p>Desde $3000</p>
                            </div>
                            <div class="buy">
                                <form action="/home.html">
                                    <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <p class="tickets-agotados">Agotado</p>
                </a>
            </article>
            <article class="product">
                <a href="/productos" class="product-link-detail">
                    <div class="product-img">
                        <img src="../img/babasonicos-en-lanus-img.jpeg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="information-product">
                            <h2>Babasonicos</h2>
                            <p class="date">26 de mayo - 21 horas</p>
                            <p class="place">Microestadio Lanus</p>
                        </div>
                        <div class="price-buy">
                            <div class="price">
                                <p>Desde $3500</p>
                            </div>
                            <div class="buy">
                                <form action="/.html">
                                    <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
            <article class="product">
                <a href="/productos" class="product-link-detail">
                    <div class="product-img">
                        <img src="../img/peces-raros-2da-funcion-158913-img.jpeg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="information-product">
                            <h2>Peces Raros</h2>
                            <p class="date">6 de mayo - 20 horas</p>
                            <p class="place">Complejo Art Media</p>
                        </div>
                        <div class="price-buy">
                            <div class="price">
                                <p>Desde $2000</p>
                            </div>
                            <div class="buy">
                                <form action="/home.html">
                                    <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
            <article class="product">
                <a href="/productos" class="product-link-detail">
                    <div class="product-img">
                        <img src="../img/la-kermesse-en-ballester-img.jpeg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="information-product">
                            <h2>La Kermesse</h2>
                            <p class="date">15 de abril - 22 horas</p>
                            <p class="place">Club Aleman Ballester</p>
                        </div>
                        <div class="price-buy">
                            <div class="price">
                                <p>Desde $1500</p>
                            </div>
                            <div class="buy">
                                <form action="/home.html">
                                    <button><i class="fa-sharp fa-solid fa-ticket"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </section>
    </main>
    <footer>
        <img class="logo-eventicket-blanco" src="/Logo/EVENTICKET-blanco.svg" alt="Eventicket" />
        <p>Todos los derechos reservados</p>
        <div class="redes">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"
                    style="color: #ffffff"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"
                    style="color: #ffffff"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"
                    style="color: #ffffff"></i></a>
        </div>
    </footer>
</body>

</html>